



<html>
    <body>
<div class="container">
  <form  [formGroup]='myForm'>
    <div class="step">
      <h3 class="main_question mb-4"><strong>1 of 6</strong>Choose your height</h3>
      <div class="review_block">
        <p class="range-field">
          <input  formControlName = "height"  class="slider" type="range" id="range_height" min="130" max="210" step="1"   oninput="this.nextElementSibling.value = this.value +' cm'"/> 
       <output for ="range_height" ></output>
       
        </p>
      </div>
    </div>
    <button routerLink="/step2" type="button" name="forward" class="forward">Next</button>
  

  </form>
  
</div>
</body>
</html>
