html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

input[type="range"] {
    width:300px;
  }
.content {
    height : 100px;
}
  .brand-logo {
      float : left ;
  }
#nav {
    background-color: #36393F;
    height : 131%;
}
.container {
  display : flex ;
  justify-content: center;
  align-items: center;
  margin-bottom : 150px;
}
#button {
  width: 200px;
  background-color : #e9500e;
}

#button:hover {
    background-color: black;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.field-form {
  width: 600px;
  text-align: center;
  margin-bottom : 100px;
}

@media only screen and (max-width: 1200px) {
  
  .field-form {
    width: auto;
  }
}

#height-value {
  width:400px;
}


#weight-value {
  width:400px;
}

input[type="text"]{
  width: 300px;
  display : block ;
  border : solid gray ;
  pointer-events: none;
  text-align: center;
  margin-left : auto ;
  margin-right : auto ;
}
input[type="text"]:active {
  border-bottom: none;
}