<html>

    <body>
<div class="container">
  <form >
  <fieldset  class="field-form">
  <legend class="title"><h4>Your Ski Style</h4></legend>
  <div class="container section row">
    <select   #mySelect   id="select_id" class="browser-default"  >
      <option value="" disabled selected >Choose your Ski style</option>
      <option value="piste">Piste</option>
      <option value="freeride">Freeride</option>
      <option value="powder">Powder</option>
      <option value="couloire">Couloire</option>
    </select>
    </div>
  <a (click)="onChange(mySelect.value)"  routerLink="/riding" id= "button"  class="waves-effect waves-light btn-large">Next Step</a>

  </fieldset>
  
  

  </form>

  
</div>
</body>

</html>
