<html>

    <body>
<div class="container">
  <form  [formGroup]='myForm'>
  <fieldset  class="field-form">
  <legend class="title"><h4>Terrain Type</h4></legend>
  <div class="container section row">
    <select   #mySelect   id="select_id" class="browser-default"  >
      <option value="" disabled selected >Choose your terrain type </option>
      <option value="TFM">Touring front mountain</option>
      <option value="TBM">Touring back mountain</option>
      <option value="TM">Touring Mountaineering</option>
      <option value="TR">Touring race</option>
    </select>
    </div>
  <a (click)="onChange(mySelect.value)"  routerLink="/style" id= "button"  class="waves-effect waves-light btn-large">Next Step</a>

  </fieldset>
  
  

  </form>

  
</div>
</body>

</html>
